{% extends 'base.html' %}

{% block content %}
<h1>Looking for a new book to read?</h1>

<h3>You came to the right place! </h3>

<h4>Every semester I recommend 5 books I think you should read.</h4>

<p>Find the latest Fall 2024 list <a href="/books"> here.</a></p>

<p>Let me know your thoughts and comments via IG or email! <a href="/contact"> Reach out to me!</a></p> </p>

<img src="https://miro.medium.com/v2/resize:fit:2000/1*M1hYXODiQnh8nobB9YF3RA.jpeg" class="img-fluid" alt="...">
{% endblock %}